<div class="row g-5 mb-3">
  <div>
    <h3 class="fw-bold border-bottom pb-2 mb-2">projects</h3>
    {% if page.title == "home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p>
          <a href="{{ item.url }}"><strong>{{item.name}}</strong></a>
          <br>
          {{ item.description }}
        </p>
      {% endfor %}
    {% endif %}
  </div>
</div>
