<div class="row g-5 mb-3">
  <div>
    {% if page.title == "home" %}
    <h3 class="fw-bold border-bottom pb-3 mb-3">featured projects.</h3>
      {% for item in site.data.projects.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
    <h3 class="fw-bold border-bottom pb-3 mb-3">projects.</h3>
      {% for item in site.data.projects.index %}
        <p>
          <a href="{{ item.url }}"><strong>{{item.name}}</strong></a>
          <br>
          {{ item.description }}
        </p>
      {% endfor %}
    {% endif %}
  </div>
</div>
