/*@import "main.css";*/

body {
  background: #ffffff;
  color: #000000 !important;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	align-self: center;
	justify-content: center;
	align-items: center;
}

body a {
  color: #000000 !important;
}

h2 {
	color: #000000 !important;
	font-size: 16pt;
	font-weight: bolder;
	padding: 0;
}

h3 {
	color: #000000 !important;
	font-weight: bolder;
	padding: 0;
	margin: 0;
}
