---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5"><a href="https://drive.google.com/file/d/1RzibYXY8g0kyk2X8G1uCOV1-ISa4zLDH/view?usp=sharing">CV - Download</a></h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.school }}</p>
          <p>{{ section.degree }}, {{ section.gpa }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.organization }}</p>
          <p><i>{{ section.location }}</i></p>
          {% for item in section.description %}
            <ul>{{ item }}</ul>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
